h1{
    color:darkblue;
    text-align: center;
    font-family: 'Galada', cursive;
    border: 4px solid aqua;
}
h2{
    color:rebeccapurple;
    border: 1px solid aqua;
    font-family: 'Shrikhand', cursive;
    margin:0;
  padding:.75% .75% 3px .75%;
}
p{
    font-size: 28 px;
    font-family: 'Raleway', sans-serif;
    color:darkmagenta
}

body{
    background: antiquewhite;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("https://www.google.com/search?tbm=isch&q=purple+aesthetic&chips=q:purple+aesthetic,g_1:light+purple&sa=X&ved=0ahUKEwiD8pmplYHcAhVJqlQKHSXZBCQQ4lYIKigC&biw=1422&bih=599&dpr=1.35#imgdii=QoyxKryOGrNUmM:&imgrc=LubNQnzFHB6CfM:");
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img { 
   border:3px solid #0000;
}

.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}
